doctype
html
	head
		meta(name='viewport', content='width=device-width, user-scalable=0')
		link(rel='stylesheet', href='/stylesheets/main.css')
		link(rel='stylesheet' href="https://fonts.googleapis.com/css?family=Beth+Ellen|Caveat|Satisfy&display=swap")

	body
		div.columns
			div.column.left.parallax(parallax = 0.2)
			div.column.right.parallax(parallax = 0.2)

		div.flaircontainer
			img.hangingPlant3.parallax(src="/images/hanging4.png" style="right:-50%" parallax = 0.5)
			img.ferns.parallax(src="/images/ferns.png" style = "right:-4%; bottom: -200px" parallax = 0.6)

		div.content
			div.contenthead.parallax(parallax = 0.7)
				h1 King & Fisher
				h3 by Amelia Conley
				div.linkcontainer(style="margin-top: 0px")
					div.link
						a(href="/") -> Home
					div.link
						a (Coming Soon) -> Music


			div.bookcontainer
				img#magpie.parallax(src="/images/magpie.png" style="width: 40%; height: auto; margin: auto; display: inherit" parallax = 4)

				p.
					Magpie Inn: Bed & Dinner is a whimsical murder mystery about a disgruntled detective who stumbles upon an inn inhabiting fantastical creatures of all shapes and sizes. 
				p.
					There, he is assigned to solve an unfortunate murder, encountering many bizarre and lovable characters along the way, such as: a fish-woman, a multi-lingual cat, an inter-dimensional meditator, a suspicious sheep and many more!

				a(href="https://www.amazon.com/Magpie-Inn-Dinner-Amelia-Conley/dp/1080059946")
					h1(style="font-size: 38px") -> Buy the book!

	
	footer
		script(src="https://code.jquery.com/jquery-3.0.0.min.js")
		script(src="/javascripts/parallax.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/tilt.js/1.2.1/tilt.jquery.min.js")
		script(src="/javascripts/booktilt.js")
